.container {
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  margin-top: 30px;
}

.left {
  flex-grow: 1;
  flex-basis: 300px;
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.left > p {
  margin-bottom: 10px;
}

img {
  height: 20px;
}

button {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.addFieldBttn {
  width: 200px;
  justify-content: center;
}

form {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}

form > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right {
  max-width: 100%;
  background-color: #f9f9f9;
  margin: 20px 70px 20px 70px;
  width: 90vw;
  color: black;
  padding: 30px;
}

.personal > h2{
  text-align: center;
  font-size: 30px;
}

@media screen and (max-width: 1070px) {
  .container {
    flex-direction: column;
  }
  .left {
    margin: 0px 20px;
  }
  .right {
    align-self: center;
    height: 60vh;
    margin: 20px;
  }
}
