.container {
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  margin-top: 30px;
}

.left {
  flex-grow: 1;
  flex-basis: 300px;
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.left > p {
  margin-bottom: 10px;
}

img {
  height: 20px;
}

button {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.addFieldBttn {
  width: 200px;
  justify-content: center;
}

form {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}
form > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
input {
  padding: 5px;
}

.right {
  max-width: 100%;
  margin: 20px 70px 20px 70px;
  width: 90vw;
  box-shadow: 0 0 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.personal > div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.personal > h2 {
  text-align: center;
  font-size: 2rem;
}

.education-heading,
.experience-heading,
.project-heading,
.skills-heading {
  font-size: 1.2rem;
  border-bottom: 1.5px solid;
}

.education {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.education-div,
.exp-div > div {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.projectName {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}

.cgpa {
  justify-self: end;
}

.experience,
.project {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  font-size: 15px;
}

.degree,
.role,
.projectName {
  font-weight: 600;
}

.skills p:first-of-type {
  margin-top: 5px;
}
.skills {
  margin-bottom: 20px;
}

@media screen and (max-width: 1070px) {
  .container {
    flex-direction: column;
  }
  .left {
    margin: 0px 20px;
  }
  .right {
    align-self: center;
    margin: 20px;
  }
}
